In [74]:
import pandas as pd
import numpy as np

# Загрузка данных

In [75]:
train = pd.read_csv('train.csv', sep=';')
test = pd.read_csv('test.csv')

In [76]:
train

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,72,71000000000,71000000000,31.03.2021,"86,36","108,63","75,1","34,06","81,14","65,37",...,"40 875,05","44 193,60","43,4","48,18","54,85","50,18","738 049,00","438 485,91","3 182,57","66 982,78"
1,75,76000000000,76000000000,31.03.2021,"83,48","123,53","73,87","42,34","65,98","50,66",...,"21 705,41","26 263,81","49,09","50,63","53,71","53,58","350 912,44","144 884,38","7 341,17","36 931,85"
2,74,75000000000,75000000000,31.03.2021,"75,59","103,61","81,43","33,27","77,01","70,49",...,"75 719,70","86 481,15","42,12","45,94","49,85","48,41","1 001 103,38","559 145,81","23,55","163 207,48"
3,73,73000000000,73000000000,31.03.2021,"73,77","87,81","76,34","32,33","72,69","69,96",...,"27 386,71","25 340,40","43,41","47,01","47,94","46,93","400 342,50","161 002,06","6 391,44","66 398,72"
4,65,64000000000,64000000000,31.03.2021,"132,15","123,6","109,73","50,71","24,65","20,25",...,"14 260,44","10 247,91","51,71","51,23","58,18","59,31","262 623,69","157 463,67","27 128,07","10 191,43"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,28,10000000000,10000000000,01.01.2019,"88,84","125,47","48,04","33,4","65,57","43,56",...,"3 313,00","2 147,00","41,59","43,96","46,29","49,64","190 836,19","101 768,91","2 143,36","798,8"
69781,67,66000000000,66000000000,01.01.2019,"69,65","86,71","64,97","33,76","68,42","36,96",...,"3 618,00","5 465,00","40,99","44,64","47,6","45,93","194 608,50","136 163,13","791,57","39 200,50"
69782,66,65000000000,65000000000,01.01.2019,"72,51","91,91","58,99","32,98","74,34","41,06",...,"26 507,71","34 152,85","40,32","43,46","48,17","46,13","814 581,88","562 791,31","348,24","91 853,09"
69783,65,64000000000,64000000000,01.01.2019,"125,33","151,52","86,8","42,09","87,82","54,9",...,"3 180,17","3 063,00","43,96","45,15","53,85","56,1","121 139,95","84 938,00","3 955,98","1 255,10"
69784,68,68000000000,68000000000,01.01.2019,"66,79","84,4","60,73","34,37","66,73","43,63",...,"3 593,26","4 436,00","41,3","44,37",0,"44,44","156 180,80","95 813,37",0,"16 293,86"

In [77]:
test

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,65,64000000000,64000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66,65000000000,65000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64,63000000000,63000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,67,66000000000,66000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70,69000000000,69000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,43,33000000000,33000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731,73,73000000000,73000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7732,74,75000000000,75000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7733,72,71000000000,71000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7734,75,76000000000,76000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Первичный анализ и препроцессинг

In [78]:
train.shape

(69785, 79)

In [79]:
train.isnull().any().any()

False

Итак, пропусков в данных нет, это хорошо. Форма DataFrame известна, довольно-таки большой датасет. В первую очередь исследую вопрос типов данных каждого столбца, а именно хотелось бы хранить столбец date в надлежащем ему формате даты.

## Обработка временных столбцов данных

In [80]:
train.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [81]:
train.date = pd.to_datetime(train.date, format='%d.%m.%Y')

In [82]:
train.date

0       2021-03-31
1       2021-03-31
2       2021-03-31
3       2021-03-31
4       2021-03-31
           ...
69780   2019-01-01
69781   2019-01-01
69782   2019-01-01
69783   2019-01-01
69784   2019-01-01
Name: date, Length: 69785, dtype: datetime64[ns]

In [83]:
test.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [84]:
test.date = pd.to_datetime(test.date, format='%d.%m.%Y')

In [85]:
test.date

0      2021-06-30
1      2021-06-30
2      2021-06-30
3      2021-06-30
4      2021-06-30
          ...
7730   2021-04-01
7731   2021-04-01
7732   2021-04-01
7733   2021-04-01
7734   2021-04-01
Name: date, Length: 7735, dtype: datetime64[ns]

Можно также попробовать найти дополнительные данные, которые могут увеличить точность модели. Исследуем для этого информацию о регионах.

## Регионы

In [86]:
train.region.unique().size

84

In [87]:
train.okato.unique().size

85

In [88]:
train.oktmo.unique().size

85

Можем заметить, что количество регионов на 1 меньше действительного. Это может быть связано с тем, что в одном регионе находятся два субъекта с различными значениями в полях okato и oktmo. Нужно найти этот двойственный регион. С 2014 ОКТМО заменил ОКАТО, поэтому будем ориентироваться на него.

In [89]:
regions = dict()
for i in range(train.shape[0]):
    if train.region[i] not in regions.keys():
        regions[train.region[i]] = set()
        regions[train.region[i]].add(train.oktmo[i])
    else:
        regions[train.region[i]].add(train.oktmo[i])
[i for i in regions.values() if len(i) > 1]

[{1000000000, 97000000000}]

21 регион - Чувашская Республика

ОКТМО 97 000 000 000 - муниципальные образования Чувашской Республики

ОКТМО 10 000 000 000 - муниципальные образования Амурской области

ОКТМО 01 000 000 000 - муниципальные образования Алтайского края.

In [90]:
22 in train.region.unique()

False

В датасете нет данных про Алтайский край, а его ОКТМО как раз 01 000 000 000 - возможно, его записали вместе с Чувашией (номер региона 21), так как номер региона Алтайского края 22. Предлагаю работать в этом предположении и дальше.

In [91]:
train[train.region == 21]

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
47,21,97000000000,97000000000,2021-03-31,"66,93","82,85","54,84","32,28","59,4","52,81",...,"23 030,38","26 271,41","43,92","47,33",0,"47,42","309 785,47","162 966,28",0,"133 677,03"
48,21,1000000000,1000000000,2021-03-31,"66,93","82,85","54,84","32,28","59,4","52,81",...,"23 030,38","26 271,41","43,92","47,33",0,"47,42","309 785,47","162 966,28",0,"133 677,03"
110,21,97000000000,97000000000,2021-03-30,"67,51","66,29","55,43","31,77","58,38","50,16",...,"21 729,29","27 459,46","43,86","47,31",0,"47,32","311 751,88","156 098,81",0,"134 385,83"
111,21,1000000000,1000000000,2021-03-30,"67,51","66,29","55,43","31,77","58,38","50,16",...,"21 729,29","27 459,46","43,86","47,31",0,"47,32","311 751,88","156 098,81",0,"134 385,83"
212,21,97000000000,97000000000,2021-03-29,"73,74","81,41","54,6","32,53","74,55","62,61",...,"21 647,52","27 383,81","43,88","47,34",0,"47,42","309 642,47","157 194,59",0,"130 519,78"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69537,21,97000000000,97000000000,2019-01-03,"71,11",70,"43,03","26,99","64,25","40,73",...,"12 114,81","22 407,40","40,26","43,51","48,22","46,03","332 234,34","153 593,05","661,78","72 421,82"
69642,21,97000000000,97000000000,2019-01-02,"64,52","73,99","42,7","28,7","66,87","42,82",...,"12 500,28","19 530,34","40,34","43,87","49,54","46,22","298 628,84","141 410,95","766,65","55 430,76"
69644,21,1000000000,1000000000,2019-01-02,"64,52","73,99","42,7","28,7","66,87","42,82",...,"12 500,28","19 530,34","40,34","43,87","49,54","46,22","298 628,84","141 410,95","766,65","55 430,76"
69732,21,97000000000,97000000000,2019-01-01,"73,13","82,09","44,32","29,57","69,15","42,72",...,"4 525,19","8 621,45","40,32","43,79","49,85","46,19","198 337,02","88 123,48","476,03","32 515,74"
69733,21,1000000000,1000000000,2019-01-01,"73,13","82,09","44,32","29,57","69,15","42,72",...,"4 525,19","8 621,45","40,32","43,79","49,85","46,19","198 337,02","88 123,48","476,03","32 515,74"

In [92]:
test[test.region == 21]

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
76,21,1000000000,1000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,21,97000000000,97000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,21,1000000000,1000000000,2021-06-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,21,97000000000,97000000000,2021-06-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,21,97000000000,97000000000,2021-06-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7545,21,97000000000,97000000000,2021-04-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7572,21,97000000000,97000000000,2021-04-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7573,21,1000000000,1000000000,2021-04-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7677,21,97000000000,97000000000,2021-04-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7678,21,1000000000,1000000000,2021-04-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Дата

Ни один из алгоритмов машинного обучения не умеет работать со столбцом даты напрямую, поэтому нужно извлечь все данные в отдельные столбцы.

In [93]:
train.insert(4, 'year', train.date.dt.year)
train.insert(5, 'month', train.date.dt.month)
train.insert(6, 'day', train.date.dt.day)
train.insert(7, 'day_of_week', train.date.dt.dayofweek)

In [94]:
train

,region,oktmo,okato,date,year,month,day,day_of_week,pasta,legumes,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,72,71000000000,71000000000,2021-03-31,2021,3,31,2,"86,36","108,63",...,"40 875,05","44 193,60","43,4","48,18","54,85","50,18","738 049,00","438 485,91","3 182,57","66 982,78"
1,75,76000000000,76000000000,2021-03-31,2021,3,31,2,"83,48","123,53",...,"21 705,41","26 263,81","49,09","50,63","53,71","53,58","350 912,44","144 884,38","7 341,17","36 931,85"
2,74,75000000000,75000000000,2021-03-31,2021,3,31,2,"75,59","103,61",...,"75 719,70","86 481,15","42,12","45,94","49,85","48,41","1 001 103,38","559 145,81","23,55","163 207,48"
3,73,73000000000,73000000000,2021-03-31,2021,3,31,2,"73,77","87,81",...,"27 386,71","25 340,40","43,41","47,01","47,94","46,93","400 342,50","161 002,06","6 391,44","66 398,72"
4,65,64000000000,64000000000,2021-03-31,2021,3,31,2,"132,15","123,6",...,"14 260,44","10 247,91","51,71","51,23","58,18","59,31","262 623,69","157 463,67","27 128,07","10 191,43"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,28,10000000000,10000000000,2019-01-01,2019,1,1,1,"88,84","125,47",...,"3 313,00","2 147,00","41,59","43,96","46,29","49,64","190 836,19","101 768,91","2 143,36","798,8"
69781,67,66000000000,66000000000,2019-01-01,2019,1,1,1,"69,65","86,71",...,"3 618,00","5 465,00","40,99","44,64","47,6","45,93","194 608,50","136 163,13","791,57","39 200,50"
69782,66,65000000000,65000000000,2019-01-01,2019,1,1,1,"72,51","91,91",...,"26 507,71","34 152,85","40,32","43,46","48,17","46,13","814 581,88","562 791,31","348,24","91 853,09"
69783,65,64000000000,64000000000,2019-01-01,2019,1,1,1,"125,33","151,52",...,"3 180,17","3 063,00","43,96","45,15","53,85","56,1","121 139,95","84 938,00","3 955,98","1 255,10"
69784,68,68000000000,68000000000,2019-01-01,2019,1,1,1,"66,79","84,4",...,"3 593,26","4 436,00","41,3","44,37",0,"44,44","156 180,80","95 813,37",0,"16 293,86"

In [95]:
test.insert(4, 'year', test.date.dt.year)
test.insert(5, 'month', test.date.dt.month)
test.insert(6, 'day', test.date.dt.day)
test.insert(7, 'day_of_week', test.date.dt.dayofweek)

In [96]:
test

,region,oktmo,okato,date,year,month,day,day_of_week,pasta,legumes,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,65,64000000000,64000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66,65000000000,65000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64,63000000000,63000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,67,66000000000,66000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70,69000000000,69000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,43,33000000000,33000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731,73,73000000000,73000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7732,74,75000000000,75000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7733,72,71000000000,71000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7734,75,76000000000,76000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
for i in range(train.shape[0]):
    value = train.pasta[i].replace(',', '.')
    train.at[i, 'pasta'] = value

In [154]:
train

,region,oktmo,okato,date,year,month,day,day_of_week,pasta,legumes,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,72,71000000000,71000000000,2021-03-31,2021,3,31,2,86.36,"108,63",...,"40 875,05","44 193,60","43,4","48,18","54,85","50,18","738 049,00","438 485,91","3 182,57","66 982,78"
1,75,76000000000,76000000000,2021-03-31,2021,3,31,2,83.48,"123,53",...,"21 705,41","26 263,81","49,09","50,63","53,71","53,58","350 912,44","144 884,38","7 341,17","36 931,85"
2,74,75000000000,75000000000,2021-03-31,2021,3,31,2,75.59,"103,61",...,"75 719,70","86 481,15","42,12","45,94","49,85","48,41","1 001 103,38","559 145,81","23,55","163 207,48"
3,73,73000000000,73000000000,2021-03-31,2021,3,31,2,73.77,"87,81",...,"27 386,71","25 340,40","43,41","47,01","47,94","46,93","400 342,50","161 002,06","6 391,44","66 398,72"
4,65,64000000000,64000000000,2021-03-31,2021,3,31,2,132.15,"123,6",...,"14 260,44","10 247,91","51,71","51,23","58,18","59,31","262 623,69","157 463,67","27 128,07","10 191,43"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,28,10000000000,10000000000,2019-01-01,2019,1,1,1,88.84,"125,47",...,"3 313,00","2 147,00","41,59","43,96","46,29","49,64","190 836,19","101 768,91","2 143,36","798,8"
69781,67,66000000000,66000000000,2019-01-01,2019,1,1,1,69.65,"86,71",...,"3 618,00","5 465,00","40,99","44,64","47,6","45,93","194 608,50","136 163,13","791,57","39 200,50"
69782,66,65000000000,65000000000,2019-01-01,2019,1,1,1,72.51,"91,91",...,"26 507,71","34 152,85","40,32","43,46","48,17","46,13","814 581,88","562 791,31","348,24","91 853,09"
69783,65,64000000000,64000000000,2019-01-01,2019,1,1,1,125.33,"151,52",...,"3 180,17","3 063,00","43,96","45,15","53,85","56,1","121 139,95","84 938,00","3 955,98","1 255,10"
69784,68,68000000000,68000000000,2019-01-01,2019,1,1,1,66.79,"84,4",...,"3 593,26","4 436,00","41,3","44,37",0,"44,44","156 180,80","95 813,37",0,"16 293,86"

# Построение пайплайна

In [155]:
features = ['region', 'year', 'month', 'day', 'day_of_week']
y_pasta = train.pasta
X_pasta = pd.get_dummies(train[features], columns=['region', 'month', 'day', 'day_of_week', 'year'])
X_pasta

,region_1,region_2,region_3,region_4,region_5,region_6,region_7,region_8,region_9,region_10,...,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6,year_2019,year_2020,year_2021
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
69781,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
69782,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
69783,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
69784,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [156]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

X_pasta_train, X_pasta_test, y_pasta_train, y_pasta_test = train_test_split(
                            X_pasta, y_pasta, test_size=0.9, random_state=0)
# column_encoding = make_column_transformer((OneHotEncoder(), features))
logreg = LogisticRegression(solver='lbfgs')

In [119]:
# pipe = make_pipeline(column_encoding, logreg)

In [157]:
logreg.fit(X_pasta_train, y_pasta_train)

LogisticRegression()

In [158]:
prediction = logreg.predict(X_pasta_test)

In [159]:
prediction

array(['77.04', '65.26', '85.6', ..., '55.33', '73.48', '57.62'],
      dtype=object)

In [160]:
mean_squared_error(y_pasta_test, prediction.astype('float64'))

381.66694255735825

In [161]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_pasta_test, prediction.astype('float64'))

11.660581782285414

In [165]:
y_pasta.astype('float64').mean()

77.90486852475523