In [37]:
import pandas as pd
import numpy as np

# Загрузка данных

In [62]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [63]:
train

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,72,71000000000,71000000000,2021-03-31,"86,36","108,63","75,1","34,06","81,14","65,37",...,"40 875,05","44 193,60","43,4","48,18","54,85","50,18","738 049,00","438 485,91","3 182,57","66 982,78"
1,75,76000000000,76000000000,2021-03-31,"83,48","123,53","73,87","42,34","65,98","50,66",...,"21 705,41","26 263,81","49,09","50,63","53,71","53,58","350 912,44","144 884,38","7 341,17","36 931,85"
2,74,75000000000,75000000000,2021-03-31,"75,59","103,61","81,43","33,27","77,01","70,49",...,"75 719,70","86 481,15","42,12","45,94","49,85","48,41","1 001 103,38","559 145,81","23,55","163 207,48"
3,73,73000000000,73000000000,2021-03-31,"73,77","87,81","76,34","32,33","72,69","69,96",...,"27 386,71","25 340,40","43,41","47,01","47,94","46,93","400 342,50","161 002,06","6 391,44","66 398,72"
4,65,64000000000,64000000000,2021-03-31,"132,15","123,6","109,73","50,71","24,65","20,25",...,"14 260,44","10 247,91","51,71","51,23","58,18","59,31","262 623,69","157 463,67","27 128,07","10 191,43"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,28,10000000000,10000000000,2019-01-01,"88,84","125,47","48,04","33,4","65,57","43,56",...,"3 313,00","2 147,00","41,59","43,96","46,29","49,64","190 836,19","101 768,91","2 143,36","798,8"
69781,67,66000000000,66000000000,2019-01-01,"69,65","86,71","64,97","33,76","68,42","36,96",...,"3 618,00","5 465,00","40,99","44,64","47,6","45,93","194 608,50","136 163,13","791,57","39 200,50"
69782,66,65000000000,65000000000,2019-01-01,"72,51","91,91","58,99","32,98","74,34","41,06",...,"26 507,71","34 152,85","40,32","43,46","48,17","46,13","814 581,88","562 791,31","348,24","91 853,09"
69783,65,64000000000,64000000000,2019-01-01,"125,33","151,52","86,8","42,09","87,82","54,9",...,"3 180,17","3 063,00","43,96","45,15","53,85","56,1","121 139,95","84 938,00","3 955,98","1 255,10"
69784,68,68000000000,68000000000,2019-01-01,"66,79","84,4","60,73","34,37","66,73","43,63",...,"3 593,26","4 436,00","41,3","44,37",0,"44,44","156 180,80","95 813,37",0,"16 293,86"

In [64]:
test

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,65,64000000000,64000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66,65000000000,65000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64,63000000000,63000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,67,66000000000,66000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70,69000000000,69000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,43,33000000000,33000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731,73,73000000000,73000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7732,74,75000000000,75000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7733,72,71000000000,71000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7734,75,76000000000,76000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Первичный анализ и препроцессинг

In [65]:
train.shape

(69785, 79)

In [77]:
train.isnull().any().any()

False

Итак, пропусков в данных нет, это хорошо. Форма DataFrame известна, довольно-таки большой датасет. В первую очередь исследую вопрос типов данных каждого столбца, а именно хотелось бы хранить столбец date в надлежащем ему формате даты.

## Обработка временных столбцов данных

In [67]:
train.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [68]:
train.date = pd.to_datetime(train.date, format='%Y-%m-%d')

In [69]:
train.date

0       2021-03-31
1       2021-03-31
2       2021-03-31
3       2021-03-31
4       2021-03-31
           ...
69780   2019-01-01
69781   2019-01-01
69782   2019-01-01
69783   2019-01-01
69784   2019-01-01
Name: date, Length: 69785, dtype: datetime64[ns]

In [70]:
test.date

0       30.06.2021
1       30.06.2021
2       30.06.2021
3       30.06.2021
4       30.06.2021
           ...
7730    01.04.2021
7731    01.04.2021
7732    01.04.2021
7733    01.04.2021
7734    01.04.2021
Name: date, Length: 7735, dtype: object

Столбец date в тестовом датасете уже имеет тип datetime64[ns], однако заметим, что в обоих датасетах записи идут в обратном порядке в смысле даты (от последнего дня наблюдения к первому). Это не совсем удобно и очевидно, поэтому предлагаю "перевернуть" данные.

## Сортировка записей датасета в хронологическом порядке

In [71]:
train.sort_values(by='date', inplace=True, ignore_index=True)

In [72]:
train

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,68,68000000000,68000000000,2019-01-01,"66,79","84,4","60,73","34,37","66,73","43,63",...,"3 593,26","4 436,00","41,3","44,37",0,"44,44","156 180,80","95 813,37",0,"16 293,86"
1,61,60000000000,60000000000,2019-01-01,"73,91","96,49","62,73","33,13","72,29","43,86",...,"10 689,10","17 193,25","42,16","46,43","50,71","45,46","508 465,94","348 254,66","5 931,82","75 636,96"
2,64,63000000000,63000000000,2019-01-01,"68,2","89,41","61,91","33,78","68,18","41,08",...,"6 165,34","12 661,90","40,97","44,49","48,89","45,26","393 139,59","129 299,96","962,96","25 249,79"
3,62,61000000000,61000000000,2019-01-01,"72,51","87,65","67,48","33,78","80,14","40,87",...,"4 051,15","5 396,00","40,81","43,53","51,66","44,26","261 811,59","207 675,77","245,85","35 614,63"
4,63,36000000000,36000000000,2019-01-01,"76,89","89,45","74,32","31,77","78,22","44,04",...,"10 946,86","17 553,88","40,48","43,8","46,15","46,32","569 525,56","235 634,61","792,04","50 875,22"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,44,34000000000,34000000000,2021-03-31,"68,91","82,13","76,94","32,64","56,6","39,98",...,"15 746,22","14 023,43","43,76","46,5","54,36","48,26","178 524,09","144 382,73","287,48","75 307,58"
69781,45,37000000000,37000000000,2021-03-31,"72,09","78,65","51,72","28,5","73,22","58,9",...,"19 320,69","19 709,40",42,"46,11",0,"48,96","317 950,41","101 387,53",0,"16 389,26"
69782,43,33000000000,33000000000,2021-03-31,"66,65","91,91","70,01","35,91","77,28","55,96",...,"29 461,82","33 004,66","45,29","48,61",0,"50,1","437 126,06","172 344,73",0,"99 284,90"
69783,60,58000000000,58000000000,2021-03-31,"85,41","107,44","75,22","36,8","84,58","64,67",...,"17 371,86","13 568,20","44,32","47,48","54,89","49,69","236 758,31","157 520,02","1 826,03","80 945,07"
69784,72,71000000000,71000000000,2021-03-31,"86,36","108,63","75,1","34,06","81,14","65,37",...,"40 875,05","44 193,60","43,4","48,18","54,85","50,18","738 049,00","438 485,91","3 182,57","66 982,78"

В случае тестового датасета такая манипуляция может вызвать проблемы на этапе сдачи решения, поэтому оставлю его в первозданном виде.

# Анализ данных, выбор моделей

Перед нами задача регрессии. Интересно, что множество $y$ куда больше множества $X$. Вижу два варианта построения предсказаний: строить модель на основании региона и даты, множество же ответов - $m = 79 - 4$ столбцов ответов (не уверен, что сработает); строить $m$ моделей - каждая будет по одним и тем же данным предсказывать свою конкретную величину.

Можно также попробовать найти дополнительные данные, которые могут увеличить точность модели. Исследуем для этого информацию о регионах.

## Регионы

In [108]:
train.region.unique().size

84

In [86]:
train.okato.unique().size

85

In [87]:
train.oktmo.unique().size

85

Можем заметить, что количество регионов на 1 меньше действительного. Это может быть связано с тем, что в одном регионе находятся два субъекта с различными значениями в полях okato и oktmo. Нужно найти этот двойственный регион. С 2014 ОКТМО заменил ОКАТО, поэтому будем ориентироваться на него.

In [101]:
regions = dict()
for i in range(train.shape[0]):
    if train.region[i] not in regions.keys():
        regions[train.region[i]] = set()
        regions[train.region[i]].add(train.oktmo[i])
    else:
        regions[train.region[i]].add(train.oktmo[i])
regions[21]

{1000000000, 97000000000}

21 регион - Чувашская Республика

ОКТМО 97 000 000 000 - муниципальные образования Чувашской Республики

ОКТМО 10 000 000 000 - муниципальные образования Амурской области

01 000 000 000 - муниципальные образования Алтайского края.

In [115]:
22 in train.region.unique()

False

В датасете нет данных про Алтайский край, а его ОКТМО как раз 01 000 000 000 - возможно, его записали вместе с Чувашией (номер региона 21), так как номер региона Алтайского края 22. Предлагаю работать в этом предположении и дальше.

In [112]:
train[train.region == 21]

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
11,21,97000000000,97000000000,2019-01-01,"73,13","82,09","44,32","29,57","69,15","42,72",...,"4 525,19","8 621,45","40,32","43,79","49,85","46,19","198 337,02","88 123,48","476,03","32 515,74"
12,21,1000000000,1000000000,2019-01-01,"73,13","82,09","44,32","29,57","69,15","42,72",...,"4 525,19","8 621,45","40,32","43,79","49,85","46,19","198 337,02","88 123,48","476,03","32 515,74"
85,21,97000000000,97000000000,2019-01-02,"64,52","73,99","42,7","28,7","66,87","42,82",...,"12 500,28","19 530,34","40,34","43,87","49,54","46,22","298 628,84","141 410,95","766,65","55 430,76"
92,21,1000000000,1000000000,2019-01-02,"64,52","73,99","42,7","28,7","66,87","42,82",...,"12 500,28","19 530,34","40,34","43,87","49,54","46,22","298 628,84","141 410,95","766,65","55 430,76"
197,21,1000000000,1000000000,2019-01-03,"71,11",70,"43,03","26,99","64,25","40,73",...,"12 114,81","22 407,40","40,26","43,51","48,22","46,03","332 234,34","153 593,05","661,78","72 421,82"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69573,21,1000000000,1000000000,2021-03-29,"73,74","81,41","54,6","32,53","74,55","62,61",...,"21 647,52","27 383,81","43,88","47,34",0,"47,42","309 642,47","157 194,59",0,"130 519,78"
69619,21,97000000000,97000000000,2021-03-30,"67,51","66,29","55,43","31,77","58,38","50,16",...,"21 729,29","27 459,46","43,86","47,31",0,"47,32","311 751,88","156 098,81",0,"134 385,83"
69620,21,1000000000,1000000000,2021-03-30,"67,51","66,29","55,43","31,77","58,38","50,16",...,"21 729,29","27 459,46","43,86","47,31",0,"47,32","311 751,88","156 098,81",0,"134 385,83"
69768,21,97000000000,97000000000,2021-03-31,"66,93","82,85","54,84","32,28","59,4","52,81",...,"23 030,38","26 271,41","43,92","47,33",0,"47,42","309 785,47","162 966,28",0,"133 677,03"
69769,21,1000000000,1000000000,2021-03-31,"66,93","82,85","54,84","32,28","59,4","52,81",...,"23 030,38","26 271,41","43,92","47,33",0,"47,42","309 785,47","162 966,28",0,"133 677,03"