In [1]:
import pandas as pd
import numpy as np

# Загрузка данных

In [2]:
train = pd.read_csv('train.csv', sep=';')
test = pd.read_csv('test.csv')

In [3]:
train

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,72,71000000000,71000000000,31.03.2021,"86,36","108,63","75,1","34,06","81,14","65,37",...,"40 875,05","44 193,60","43,4","48,18","54,85","50,18","738 049,00","438 485,91","3 182,57","66 982,78"
1,75,76000000000,76000000000,31.03.2021,"83,48","123,53","73,87","42,34","65,98","50,66",...,"21 705,41","26 263,81","49,09","50,63","53,71","53,58","350 912,44","144 884,38","7 341,17","36 931,85"
2,74,75000000000,75000000000,31.03.2021,"75,59","103,61","81,43","33,27","77,01","70,49",...,"75 719,70","86 481,15","42,12","45,94","49,85","48,41","1 001 103,38","559 145,81","23,55","163 207,48"
3,73,73000000000,73000000000,31.03.2021,"73,77","87,81","76,34","32,33","72,69","69,96",...,"27 386,71","25 340,40","43,41","47,01","47,94","46,93","400 342,50","161 002,06","6 391,44","66 398,72"
4,65,64000000000,64000000000,31.03.2021,"132,15","123,6","109,73","50,71","24,65","20,25",...,"14 260,44","10 247,91","51,71","51,23","58,18","59,31","262 623,69","157 463,67","27 128,07","10 191,43"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,28,10000000000,10000000000,01.01.2019,"88,84","125,47","48,04","33,4","65,57","43,56",...,"3 313,00","2 147,00","41,59","43,96","46,29","49,64","190 836,19","101 768,91","2 143,36","798,8"
69781,67,66000000000,66000000000,01.01.2019,"69,65","86,71","64,97","33,76","68,42","36,96",...,"3 618,00","5 465,00","40,99","44,64","47,6","45,93","194 608,50","136 163,13","791,57","39 200,50"
69782,66,65000000000,65000000000,01.01.2019,"72,51","91,91","58,99","32,98","74,34","41,06",...,"26 507,71","34 152,85","40,32","43,46","48,17","46,13","814 581,88","562 791,31","348,24","91 853,09"
69783,65,64000000000,64000000000,01.01.2019,"125,33","151,52","86,8","42,09","87,82","54,9",...,"3 180,17","3 063,00","43,96","45,15","53,85","56,1","121 139,95","84 938,00","3 955,98","1 255,10"
69784,68,68000000000,68000000000,01.01.2019,"66,79","84,4","60,73","34,37","66,73","43,63",...,"3 593,26","4 436,00","41,3","44,37",0,"44,44","156 180,80","95 813,37",0,"16 293,86"

In [4]:
test

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,65,64000000000,64000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66,65000000000,65000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64,63000000000,63000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,67,66000000000,66000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70,69000000000,69000000000,30.06.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,43,33000000000,33000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731,73,73000000000,73000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7732,74,75000000000,75000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7733,72,71000000000,71000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7734,75,76000000000,76000000000,01.04.2021,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Первичный анализ и препроцессинг

In [5]:
train.shape

(69785, 79)

In [6]:
train.isnull().any().any()

False

Итак, пропусков в данных нет, это хорошо. Форма DataFrame известна, довольно-таки большой датасет. В первую очередь исследую вопрос типов данных каждого столбца, а именно хотелось бы хранить столбец date в надлежащем ему формате даты.

## Обработка временных столбцов данных

In [7]:
train.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [8]:
train.date = pd.to_datetime(train.date, format='%d.%m.%Y')

In [9]:
train.date

0       2021-03-31
1       2021-03-31
2       2021-03-31
3       2021-03-31
4       2021-03-31
           ...
69780   2019-01-01
69781   2019-01-01
69782   2019-01-01
69783   2019-01-01
69784   2019-01-01
Name: date, Length: 69785, dtype: datetime64[ns]

In [10]:
test.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [11]:
test.date = pd.to_datetime(test.date, format='%d.%m.%Y')

In [12]:
test.date

0      2021-06-30
1      2021-06-30
2      2021-06-30
3      2021-06-30
4      2021-06-30
          ...
7730   2021-04-01
7731   2021-04-01
7732   2021-04-01
7733   2021-04-01
7734   2021-04-01
Name: date, Length: 7735, dtype: datetime64[ns]

Можно также попробовать найти дополнительные данные, которые могут увеличить точность модели. Исследуем для этого информацию о регионах.

## Регионы

In [13]:
train.region.unique().size

84

In [14]:
train.okato.unique().size

85

In [15]:
train.oktmo.unique().size

85

Можем заметить, что количество регионов на 1 меньше действительного. Это может быть связано с тем, что в одном регионе находятся два субъекта с различными значениями в полях okato и oktmo. Нужно найти этот двойственный регион. С 2014 ОКТМО заменил ОКАТО, поэтому будем ориентироваться на него.

In [16]:
regions = dict()
for i in range(train.shape[0]):
    if train.region[i] not in regions.keys():
        regions[train.region[i]] = set()
        regions[train.region[i]].add(train.oktmo[i])
    else:
        regions[train.region[i]].add(train.oktmo[i])
[i for i in regions.values() if len(i) > 1]

[{1000000000, 97000000000}]

21 регион - Чувашская Республика

ОКТМО 97 000 000 000 - муниципальные образования Чувашской Республики

ОКТМО 10 000 000 000 - муниципальные образования Амурской области

ОКТМО 01 000 000 000 - муниципальные образования Алтайского края.

In [17]:
22 in train.region.unique()

False

В датасете нет данных про Алтайский край, а его ОКТМО как раз 01 000 000 000 - возможно, его записали вместе с Чувашией (номер региона 21), так как номер региона Алтайского края 22. Предлагаю работать в этом предположении и дальше.

In [18]:
train[train.region == 21]

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
47,21,97000000000,97000000000,2021-03-31,"66,93","82,85","54,84","32,28","59,4","52,81",...,"23 030,38","26 271,41","43,92","47,33",0,"47,42","309 785,47","162 966,28",0,"133 677,03"
48,21,1000000000,1000000000,2021-03-31,"66,93","82,85","54,84","32,28","59,4","52,81",...,"23 030,38","26 271,41","43,92","47,33",0,"47,42","309 785,47","162 966,28",0,"133 677,03"
110,21,97000000000,97000000000,2021-03-30,"67,51","66,29","55,43","31,77","58,38","50,16",...,"21 729,29","27 459,46","43,86","47,31",0,"47,32","311 751,88","156 098,81",0,"134 385,83"
111,21,1000000000,1000000000,2021-03-30,"67,51","66,29","55,43","31,77","58,38","50,16",...,"21 729,29","27 459,46","43,86","47,31",0,"47,32","311 751,88","156 098,81",0,"134 385,83"
212,21,97000000000,97000000000,2021-03-29,"73,74","81,41","54,6","32,53","74,55","62,61",...,"21 647,52","27 383,81","43,88","47,34",0,"47,42","309 642,47","157 194,59",0,"130 519,78"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69537,21,97000000000,97000000000,2019-01-03,"71,11",70,"43,03","26,99","64,25","40,73",...,"12 114,81","22 407,40","40,26","43,51","48,22","46,03","332 234,34","153 593,05","661,78","72 421,82"
69642,21,97000000000,97000000000,2019-01-02,"64,52","73,99","42,7","28,7","66,87","42,82",...,"12 500,28","19 530,34","40,34","43,87","49,54","46,22","298 628,84","141 410,95","766,65","55 430,76"
69644,21,1000000000,1000000000,2019-01-02,"64,52","73,99","42,7","28,7","66,87","42,82",...,"12 500,28","19 530,34","40,34","43,87","49,54","46,22","298 628,84","141 410,95","766,65","55 430,76"
69732,21,97000000000,97000000000,2019-01-01,"73,13","82,09","44,32","29,57","69,15","42,72",...,"4 525,19","8 621,45","40,32","43,79","49,85","46,19","198 337,02","88 123,48","476,03","32 515,74"
69733,21,1000000000,1000000000,2019-01-01,"73,13","82,09","44,32","29,57","69,15","42,72",...,"4 525,19","8 621,45","40,32","43,79","49,85","46,19","198 337,02","88 123,48","476,03","32 515,74"

In [19]:
test[test.region == 21]

,region,oktmo,okato,date,pasta,legumes,bread,flour,rice,groats,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
76,21,1000000000,1000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,21,97000000000,97000000000,2021-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,21,1000000000,1000000000,2021-06-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,21,97000000000,97000000000,2021-06-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,21,97000000000,97000000000,2021-06-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7545,21,97000000000,97000000000,2021-04-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7572,21,97000000000,97000000000,2021-04-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7573,21,1000000000,1000000000,2021-04-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7677,21,97000000000,97000000000,2021-04-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7678,21,1000000000,1000000000,2021-04-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Исправление формата числовых значений

Все количесвенные данные представлены в виде строк, более того, в качестве разделителя используется запятая вместо точки. Исправим это в тренировочном датасете.

In [20]:
numeric_columns = train.columns.drop(['region', 'oktmo', 'okato', 'date'])
numeric_columns

Index(['pasta', 'legumes', 'bread', 'flour', 'rice', 'groats', 'potatoes',
       'сucumbers_tomatoes', 'vegetables', 'roots', 'сabbage', 'fruit',
       'sugar', 'candy', 'biscuits', 'mutton', 'beef', 'chicken', 'pork',
       'fish', 'herring', 'curd', 'sour_creame', 'butter', 'milk_kefir',
       'cheese', 'egg', 'margarine', 'oil', 'salt', 'spice', 'tea', 'cpi_1',
       'cpi_2', 'cpi_3', 'pasta_value', 'legumes_value', 'bread_value',
       'flour_value', 'rice_value', 'groats_value', 'potatoes_value',
       'сucumbers_tomatoes_value', 'vegetables_value', 'roots_value',
       'сabbage_value', 'fruit_value', 'sugar_value', 'candy_value',
       'biscuits_value', 'mutton_value', 'beef_value', 'chicken_value',
       'pork_value', 'fish_value', 'herring_value', 'curd_value',
       'sour_creame_value', 'butter_value', 'milk_kefir_value', 'cheese_value',
       'egg_value', 'margarine_value', 'oil_value', 'salt_value',
       'spice_value', 'tea_value', 'ai92', 'ai95', 'ai98', 'dt', 'ai92_value',
       'ai95_value', 'ai98_value', 'dt_value'],
      dtype='object')

В процессе нашлась еще одна пробелема - пробелы ('xa0') во многих столбцах, решил ее с помощью replace.

In [21]:
for column in numeric_columns:
    for i in range(train.shape[0]):
        value = train[f'{column}'][i].replace(',', '.').strip()
        value = value.replace(u'\xa0', '')
        train.at[i, f'{column}'] = float(value)

In [22]:
train[numeric_columns] = train[numeric_columns].astype('float64')

In [23]:
train.dtypes

region                 int64
oktmo                  int64
okato                  int64
date          datetime64[ns]
pasta                float64
                   ...
dt                   float64
ai92_value           float64
ai95_value           float64
ai98_value           float64
dt_value             float64
Length: 79, dtype: object

## Дата

Ни один из алгоритмов машинного обучения не умеет работать со столбцом даты напрямую, поэтому нужно извлечь все данные в отдельные столбцы.

In [24]:
train.insert(4, 'year', train.date.dt.year)
train.insert(5, 'month', train.date.dt.month)
train.insert(6, 'day', train.date.dt.day)
train.insert(7, 'day_of_week', train.date.dt.dayofweek)

In [25]:
train

,region,oktmo,okato,date,year,month,day,day_of_week,pasta,legumes,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,72,71000000000,71000000000,2021-03-31,2021,3,31,2,86.36,108.63,...,40875.05,44193.60,43.40,48.18,54.85,50.18,738049.00,438485.91,3182.57,66982.78
1,75,76000000000,76000000000,2021-03-31,2021,3,31,2,83.48,123.53,...,21705.41,26263.81,49.09,50.63,53.71,53.58,350912.44,144884.38,7341.17,36931.85
2,74,75000000000,75000000000,2021-03-31,2021,3,31,2,75.59,103.61,...,75719.70,86481.15,42.12,45.94,49.85,48.41,1001103.38,559145.81,23.55,163207.48
3,73,73000000000,73000000000,2021-03-31,2021,3,31,2,73.77,87.81,...,27386.71,25340.40,43.41,47.01,47.94,46.93,400342.50,161002.06,6391.44,66398.72
4,65,64000000000,64000000000,2021-03-31,2021,3,31,2,132.15,123.60,...,14260.44,10247.91,51.71,51.23,58.18,59.31,262623.69,157463.67,27128.07,10191.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,28,10000000000,10000000000,2019-01-01,2019,1,1,1,88.84,125.47,...,3313.00,2147.00,41.59,43.96,46.29,49.64,190836.19,101768.91,2143.36,798.80
69781,67,66000000000,66000000000,2019-01-01,2019,1,1,1,69.65,86.71,...,3618.00,5465.00,40.99,44.64,47.60,45.93,194608.50,136163.13,791.57,39200.50
69782,66,65000000000,65000000000,2019-01-01,2019,1,1,1,72.51,91.91,...,26507.71,34152.85,40.32,43.46,48.17,46.13,814581.88,562791.31,348.24,91853.09
69783,65,64000000000,64000000000,2019-01-01,2019,1,1,1,125.33,151.52,...,3180.17,3063.00,43.96,45.15,53.85,56.10,121139.95,84938.00,3955.98,1255.10
69784,68,68000000000,68000000000,2019-01-01,2019,1,1,1,66.79,84.40,...,3593.26,4436.00,41.30,44.37,0.00,44.44,156180.80,95813.37,0.00,16293.86

In [26]:
test.insert(4, 'year', test.date.dt.year)
test.insert(5, 'month', test.date.dt.month)
test.insert(6, 'day', test.date.dt.day)
test.insert(7, 'day_of_week', test.date.dt.dayofweek)

In [27]:
test

,region,oktmo,okato,date,year,month,day,day_of_week,pasta,legumes,...,spice_value,tea_value,ai92,ai95,ai98,dt,ai92_value,ai95_value,ai98_value,dt_value
0,65,64000000000,64000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,66,65000000000,65000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64,63000000000,63000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,67,66000000000,66000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70,69000000000,69000000000,2021-06-30,2021,6,30,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,43,33000000000,33000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7731,73,73000000000,73000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7732,74,75000000000,75000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7733,72,71000000000,71000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7734,75,76000000000,76000000000,2021-04-01,2021,4,1,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Создание и тренировка моделей

In [28]:
y = train[numeric_columns]
y.columns

Index(['pasta', 'legumes', 'bread', 'flour', 'rice', 'groats', 'potatoes',
       'сucumbers_tomatoes', 'vegetables', 'roots', 'сabbage', 'fruit',
       'sugar', 'candy', 'biscuits', 'mutton', 'beef', 'chicken', 'pork',
       'fish', 'herring', 'curd', 'sour_creame', 'butter', 'milk_kefir',
       'cheese', 'egg', 'margarine', 'oil', 'salt', 'spice', 'tea', 'cpi_1',
       'cpi_2', 'cpi_3', 'pasta_value', 'legumes_value', 'bread_value',
       'flour_value', 'rice_value', 'groats_value', 'potatoes_value',
       'сucumbers_tomatoes_value', 'vegetables_value', 'roots_value',
       'сabbage_value', 'fruit_value', 'sugar_value', 'candy_value',
       'biscuits_value', 'mutton_value', 'beef_value', 'chicken_value',
       'pork_value', 'fish_value', 'herring_value', 'curd_value',
       'sour_creame_value', 'butter_value', 'milk_kefir_value', 'cheese_value',
       'egg_value', 'margarine_value', 'oil_value', 'salt_value',
       'spice_value', 'tea_value', 'ai92', 'ai95', 'ai98', 'dt', 'ai92_value',
       'ai95_value', 'ai98_value', 'dt_value'],
      dtype='object')

In [29]:
features = ['region', 'year', 'month', 'day', 'day_of_week']

X = pd.get_dummies(train[features], columns=features)
X

,region_1,region_2,region_3,region_4,region_5,region_6,region_7,region_8,region_9,region_10,...,day_29,day_30,day_31,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
69781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
69782,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
69783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
69784,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [30]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

# from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

X_train = dict()
X_valid = dict()
y_train = dict()
y_valid = dict()

models = dict()

for column in y.columns:
    X_train[f'{column}'], X_valid[f'{column}'], y_train[f'{column}'], y_valid[f'{column}'] = train_test_split(X, y[f'{column}'], test_size=0.2, random_state=0)
    models[f'{column}'] = RandomForestRegressor(random_state=0, n_jobs=-1)

# column_encoding = make_column_transformer((OneHotEncoder(), features))

# logreg = LogisticRegression(solver='sag', random_state=0, n_jobs=-1)

In [31]:
# pipe = make_pipeline(column_encoding, logreg)

In [33]:
first = y.columns[:15]
second = y.columns[15:30]
third = y.columns[30:45]
fourth = y.columns[45:60]
fifth = y.columns[60:]

(Index(['pasta', 'legumes', 'bread', 'flour', 'rice', 'groats', 'potatoes',
        'сucumbers_tomatoes', 'vegetables', 'roots', 'сabbage', 'fruit',
        'sugar', 'candy', 'biscuits'],
       dtype='object'),
 Index(['mutton', 'beef', 'chicken', 'pork', 'fish', 'herring', 'curd',
        'sour_creame', 'butter', 'milk_kefir', 'cheese', 'egg', 'margarine',
        'oil', 'salt'],
       dtype='object'))

In [34]:
for column in first:
    models[f'{column}'].fit(X_train[f'{column}'], y_train[f'{column}'])

In [35]:
first_prediction = dict()
for column in first:
    first_prediction[f'{column}'] = models[f'{column}'].predict(X_valid[f'{column}'])

In [36]:
first_prediction

{'pasta': array([71.0895, 75.8172, 92.3965, ..., 81.5119, 66.225 , 66.6596]),
 'legumes': array([ 81.5819,  92.5008, 122.3131, ...,  95.6164,  85.8138,  76.7862]),
 'bread': array([72.3957, 68.1831, 80.6279, ..., 60.077 , 60.7842, 69.4832]),
 'flour': array([29.1096, 31.2784, 34.9114, ..., 33.2077, 28.3913, 31.7773]),
 'rice': array([69.824 , 67.6052, 95.9611, ..., 80.0045, 71.9089, 68.5285]),
 'groats': array([54.5087, 47.3991, 74.1709, ..., 66.3155, 42.3893, 36.1576]),
 'potatoes': array([17.4611, 26.7068, 27.4974, ..., 19.5081, 21.8235, 18.3325]),
 'сucumbers_tomatoes': array([169.8097, 173.9329, 121.475 , ...,  57.5925, 197.9779, 140.6348]),
 'vegetables': array([24.2507, 31.6761, 26.2951, ..., 18.387 , 29.5355, 35.9241]),
 'roots': array([35.2641, 35.8514, 37.6773, ..., 23.7604, 36.5857, 43.6542]),
 'сabbage': array([19.7369, 31.6242, 17.5431, ..., 13.2953, 31.7298, 26.1724]),
 'fruit': array([80.672, 76.602, 94.626, ..., 74.55 , 82.764, 89.311]),
 'sugar': array([25.2388, 44.2045, 50.0812, ..., 41.952 , 45.3496, 31.6133]),
 'candy': array([272.4494, 288.0267, 357.8339, ..., 209.1035, 286.3187, 251.0795]),
 'biscuits': array([163.6675, 168.0549, 200.8654, ..., 147.1372, 154.5135, 126.6673])}

In [37]:
for column in first:
    print(mean_absolute_error(y_valid[f'{column}'], first_prediction[f'{column}']))

2.745416909077882
5.225316507845526
1.1837766568746868
1.3702199899691911
3.294948054739557
2.5338963889087913
1.7441087411334812
8.89164313964319
1.9626550691409328
2.6921857347567535
1.8348779895392993
2.7370345824078712
1.1065472880991616
15.18733424088271
5.875013713548755

In [42]:
first_valid = pd.DataFrame(first_prediction)

In [43]:
first_valid

,pasta,legumes,bread,flour,rice,groats,potatoes,сucumbers_tomatoes,vegetables,roots,сabbage,fruit,sugar,candy,biscuits
0,71.0895,81.5819,72.3957,29.1096,69.8240,54.5087,17.4611,169.8097,24.2507,35.2641,19.7369,80.672,25.2388,272.4494,163.6675
1,75.8172,92.5008,68.1831,31.2784,67.6052,47.3991,26.7068,173.9329,31.6761,35.8514,31.6242,76.602,44.2045,288.0267,168.0549
2,92.3965,122.3131,80.6279,34.9114,95.9611,74.1709,27.4974,121.4750,26.2951,37.6773,17.5431,94.626,50.0812,357.8339,200.8654
3,74.2067,95.4510,65.8217,30.8265,77.5130,46.4599,14.2070,62.4167,19.1105,25.7813,15.2487,73.502,30.3369,285.3893,158.2503
4,116.0564,149.2499,96.6465,44.2447,97.6960,73.4930,63.8374,162.7705,59.1021,100.4708,44.6514,146.982,50.6537,357.8609,275.9495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13952,64.6921,72.8482,70.1406,30.8935,82.3251,58.0239,24.8471,103.8440,47.6194,50.6097,25.7276,91.902,29.4078,275.5895,157.8025
13953,99.3756,119.9127,76.1418,37.9542,91.8757,79.3713,26.0584,198.0925,31.3144,48.2585,32.4902,106.487,36.4888,333.5686,200.2455
13954,81.5119,95.6164,60.0770,33.2077,80.0045,66.3155,19.5081,57.5925,18.3870,23.7604,13.2953,74.550,41.9520,209.1035,147.1372
13955,66.2250,85.8138,60.7842,28.3913,71.9089,42.3893,21.8235,197.9779,29.5355,36.5857,31.7298,82.764,45.3496,286.3187,154.5135
13956,66.6596,76.7862,69.4832,31.7773,68.5285,36.1576,18.3325,140.6348,35.9241,43.6542,26.1724,89.311,31.6133,251.0795,126.6673

In [ ]:
for column in second:
    models[f'{column}'].fit(X_train[f'{column}'], y_train[f'{column}'])

In [ ]:
for column in third:
    models[f'{column}'].fit(X_train[f'{column}'], y_train[f'{column}'])

In [ ]:
for column in fourth:
    models[f'{column}'].fit(X_train[f'{column}'], y_train[f'{column}'])

In [ ]:
for column in fifth:
    models[f'{column}'].fit(X_train[f'{column}'], y_train[f'{column}'])

# Предсказание

In [45]:
X_test = pd.get_dummies(test[features], columns=features)
X_test

,region_1,region_2,region_3,region_4,region_5,region_6,region_7,region_8,region_9,region_10,...,day_29,day_30,day_31,day_of_week_0,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7733,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7734,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [49]:
X_test['month_1'] = 0
X_test['month_2'] = 0
X_test['month_3'] = 0
X_test['month_7'] = 0
X_test['month_8'] = 0
X_test['month_9'] = 0
X_test['month_10'] = 0
X_test['month_11'] = 0
X_test['month_12'] = 0
X_test['year_2019'] = 0
X_test['year_2020'] = 0

In [50]:
result_first = dict()
for column in first:
    result_first[f'{column}'] = models[f'{column}'].predict(X_test)
result_first

{'pasta': array([111.8644,  62.574 ,  62.3127, ...,  70.1745,  65.913 ,  58.8048]),
 'legumes': array([136.6782,  80.4013,  74.6976, ...,  81.8121,  84.4873,  97.9566]),
 'bread': array([95.7197, 64.1043, 61.4594, ..., 69.096 , 60.7889, 63.233 ]),
 'flour': array([40.0551, 26.8443, 29.676 , ..., 29.0622, 28.2213, 35.968 ]),
 'rice': array([69.3803, 67.0514, 60.3352, ..., 67.8566, 71.8203, 60.803 ]),
 'groats': array([56.6716, 40.5974, 43.113 , ..., 43.4689, 42.5031, 38.4786]),
 'potatoes': array([26.9765, 21.0566, 24.5582, ..., 19.1905, 20.7114, 29.656 ]),
 'сucumbers_tomatoes': array([169.9014, 168.1953, 160.2828, ..., 184.3724, 191.8773, 161.167 ]),
 'vegetables': array([40.8133, 28.6322, 25.2153, ..., 30.3016, 30.2587, 33.9317]),
 'roots': array([49.2124, 33.1054, 29.5325, ..., 36.7307, 38.0902, 51.8188]),
 'сabbage': array([27.2271, 27.2404, 28.0458, ..., 31.5455, 31.9017, 30.9026]),
 'fruit': array([163.522,  82.229,  68.981, ...,  78.644,  82.877, 107.293]),
 'sugar': array([43.1159, 43.9455, 43.3001, ..., 34.3023, 36.0542, 43.1127]),
 'candy': array([328.4568, 284.6007, 265.558 , ..., 270.8668, 285.0679, 228.1224]),
 'biscuits': array([205.4279, 151.545 , 148.3993, ..., 107.4057, 153.1761, 148.5927])}

In [51]:
first_result = pd.DataFrame(result_first)
first_result

,pasta,legumes,bread,flour,rice,groats,potatoes,сucumbers_tomatoes,vegetables,roots,сabbage,fruit,sugar,candy,biscuits
0,111.8644,136.6782,95.7197,40.0551,69.3803,56.6716,26.9765,169.9014,40.8133,49.2124,27.2271,163.522,43.1159,328.4568,205.4279
1,62.5740,80.4013,64.1043,26.8443,67.0514,40.5974,21.0566,168.1953,28.6322,33.1054,27.2404,82.229,43.9455,284.6007,151.5450
2,62.3127,74.6976,61.4594,29.6760,60.3352,43.1130,24.5582,160.2828,25.2153,29.5325,28.0458,68.981,43.3001,265.5580,148.3993
3,59.5982,82.7201,64.7600,31.1646,69.9940,35.8823,25.5612,163.8062,31.6653,34.3221,34.6085,74.087,41.7440,254.0669,132.5728
4,70.7096,84.5348,59.6421,25.3535,67.8015,40.7507,20.2572,152.7738,21.8449,35.4108,26.6835,82.350,47.1672,234.2180,153.1074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,59.8252,76.0772,65.3141,29.2241,62.0700,39.1078,18.5814,184.3532,28.2951,41.4428,31.1162,75.781,34.6247,258.5448,151.4898
7731,61.4534,65.5986,66.0998,28.1458,62.4389,42.3892,17.1013,177.1508,25.1021,35.9583,32.4873,70.388,32.1545,271.5070,144.9656
7732,70.1745,81.8121,69.0960,29.0622,67.8566,43.4689,19.1905,184.3724,30.3016,36.7307,31.5455,78.644,34.3023,270.8668,107.4057
7733,65.9130,84.4873,60.7889,28.2213,71.8203,42.5031,20.7114,191.8773,30.2587,38.0902,31.9017,82.877,36.0542,285.0679,153.1761
7734,58.8048,97.9566,63.2330,35.9680,60.8030,38.4786,29.6560,161.1670,33.9317,51.8188,30.9026,107.293,43.1127,228.1224,148.5927

In [54]:
first_result.to_csv('first.csv', index=False)